 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

* {
  list-style: none;
}

body {
  background: HSLA(60, 17%, 95%, 1);
}

// Side Content

.middle {
  @include outer-container;
}

.side {
  @include span-columns (3);
  width: 275px;
  height: 100%;
  float: left;
}

.main-content {
  @include span-columns(9);
  float: right;
}

#whiskey {
  @include span-columns (3 of 9);
  @include omega(4n);
  height: 220px;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
}

img {
    @include size(170);
    max-width: 100%;
    margin: auto;
  }
